* {
  margin: 0;
  padding: 0;
}

#dvfooter {
  background: #d1d5dc;
  padding-top: 2rem;
  padding-bottom: 2em;
  margin-top: 4em;
}
#dvfooter p {
  color: #4d5156;
}
.custom-footer {
  background: #f2f3f5;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 4em;  
  /* margin-bottom: -6em */
}
.custom-footer {
  color: #4d5156;
}
.custom-footer h6 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 1.0em;
  color: #C55B28;
}
.custom-footer li {
  padding-bottom: 0.4em;
}
.custom-footer ul {
  padding-bottom: 0.5em;
}
.custom-footer li a {
  color: #4d5156;
}
.row-social {
  background: #d9d9d9;
}
.custom-footer i {
  color: #4d5156;
  margin-left: 10px

}

#header-logo img {
  max-width: 100%;
  height: auto;
}

/* ------------------- */

@media (max-width: 576px) {
  .custom-footer {
    margin-top: 2em;
  }
}

@media (min-width: 992px) {
  .custom-footer {
    margin-bottom: -6em;
  }
}
