/* Estilos footer */

* {
  margin: 0;
  padding: 0;
}

#dvfooter {
  background: #d1d5dc;
  padding-top: 2rem;
  padding-bottom: 2em;
  margin-top: 4em;
}
#dvfooter p {
  color: #1a1a1a;
}
.custom-footer {
  background: #f2f3f5;
  padding-top: 2em;
  padding-bottom: 2em;
  /* margin-top: 5em; */  
  margin-bottom: -6em
}
.custom-footer {
  color: #1a1a1a;
}
.custom-footer h6 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 1.0em;
}
.custom-footer li {
  padding-bottom: 0.4em;
}
.custom-footer ul {
  padding-bottom: 0.5em;
}
.custom-footer li a {
  color: #1a1a1a;
}
.row-social {
  background: #d9d9d9;
}
.custom-footer i {
  color: #1a1a1a;
  margin-left: 10px

}

