body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

button {
  background-color: #C55B28;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;